@use 'src/utils/variables.scss';

@font-face {
	font-family: 'Cuprum';
	src: url(/fonts/Cuprum.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum';
    color: white;

    button {
        font-size: 16pt;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: variables.$second-color;
    }

    a {
        text-decoration: 0;
    }

    body {
        background-color: variables.$main-color;
    }

}

:root {
    font-size: 12pt;
}

::-webkit-scrollbar {
    position: relative;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}